body{
    background-color: darkslategrey;
    color: aliceblue;
}

h1, h3{
    color: aliceblue;
    text-align: center;
}

.new-item-form{
    display: flex;
    color: aliceblue;
}

.btn-style{  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.task-form{  
    display: flex;
    align-items: center;
    justify-content: center;
}